<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Encuestas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Encuestas Disponibles</h1>
        <ul>
            {% for encuesta in encuestas %}
                <li>
                    <a href="{% url 'detalle_encuesta' encuesta.id %}">{{ encuesta.pregunta }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
